<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>E-mail address</th>
                    </tr>
                </thead>
                <tbody cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <tr class="example-box" *ngFor="let contact of contacts" cdkDrag>
                        <td>{{contact.fullName}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phone}}</td>
                        <button *ngIf="hovered" class="ui icon red button delete">
                            <i class="cross icon"></i>
                        </button>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th colspan="4">
                            <div (click)="newUser = !newUser"
                                class="ui right floated small primary labeled icon button">
                                <i class="user icon"></i> Add User
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div *ngIf="newUser" class="sixteen wide column">
            <div class="ui segment">
                <div class="ui form">
                    <div class="four fields">
                        <div class="field">
                            <label>First name</label>
                            <input type="text" [(ngModel)]="firstName" placeholder="First Name">
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <input type="text" [(ngModel)]="lastName" placeholder="Last Name">
                        </div>
                        <div class="field">
                            <label>Email</label>
                            <input type="email" [(ngModel)]="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label>Phone</label>
                            <input type="text" pattern="[0-9]*" [(ngModel)]="phone" placeholder="Phone" />
                        </div>
                        <button (click)="newContact()" class="ui button" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>